<div class="container px-4 pt-4">
  <h1>New Article</h1>
  <%= render 'form' %>
  <br>
  <%= link_to articles_path, class:'btn btn-light' do %>
    <i class="fa-solid fa-angles-left"></i> Back to articles
  <% end %>
</div>
