<div class="container px-4 pt-4">
  <h1><%= @article.title %></h1>
  <p><%= @article.content %></p>

  <hr>
  <%= link_to edit_article_path(@article), class: 'btn btn-primary' do %>
    <i class="fa-regular fa-pen-to-square"></i> Edit
  <% end %>
  <br>
  <br>
  <%= link_to articles_path, class:'btn btn-light' do %>
    <i class="fa-solid fa-angles-left"></i> Back to articles
  <% end %>
</div>
